@model Employee
@{ 
	var edit = (string)ViewData["action"] == "edit";
	var actionStr = edit ? "Edit" : "Add";
}
<form role="form" class="form-horizontal" asp-antiforgery="true" action="/Employees/@actionStr" id="employeeForm">
	@if (edit) { <input type="hidden" asp-for="EmployeeId"> }
	<div class="form-group">
		<label asp-for="Name" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Name)">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Gender)</label>
		<div class="col-sm-10">
			<label class="radio-inline"><input type="radio" name="Gender" data-val="true" value="0"@(edit && Model.Gender == Gender.Male ? " checked" : "")> Male</label>
			<label class="radio-inline"><input type="radio" name="Gender" data-val="true" value="1"@(edit && Model.Gender == Gender.Female ? " checked" : "")> Female</label>

		</div>
	</div>
	<div class="form-group">
		<label asp-for="Birthdate" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<input asp-for="Birthdate" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Birthdate)">
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Email" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Email)">
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Address" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<input asp-for="Address" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Address)">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">@(edit ? "Save" : "Add")</button>
		</div>
	</div>
</form>
<script>
	$(function () {
		$('#employeeForm').ajaxForm({
			loadingText: "@(edit ? "Sav" : "Add")ing...",
			doneText: "@(edit ? "Sav" : "Add")ed"
		});
	});
</script>
